<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"> 
  <targets async="true">
    <target encoding="utf-8" xsi:type="File" name="fError" fileName="./logs/error_${shortdate}.log"
            archiveAboveSize="10485760" maxArchiveFiles="10" archiveFileName="./logs/archives/error.{#####}.log"
            archiveNumbering="Sequence" archiveEvery="Day">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger:shortName=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="traceId" layout="${mdlc:TraceId}"/>
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="10"/>
        </attribute>
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
    
    <target encoding="utf-8" xsi:type="File" name="fInfo" fileName="./logs/info_${shortdate}.log"
            archiveAboveSize="5242880" maxArchiveFiles="5" archiveFileName="./logs/archives/info.{#####}.log"
            archiveNumbering="Sequence" archiveEvery="Day">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger:shortName=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="traceId" layout="${mdlc:TraceId}"/>
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="10"/>
        </attribute>
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>

    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="Console" name="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger:shortName=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="traceId" layout="${mdlc:TraceId}"/>
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="10"/>
        </attribute>
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="*" maxlevel="Warn" minlevel="Info" writeTo="fInfo" />
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>